@tailwind base;
@tailwind components;
@tailwind utilities;
.template-container {
    background-image: url('./.././../assets/background.jpeg'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  